<ion-content class="modal-content">
  <div class="otp-container">
    
    <div class="icon-wrapper">
      <ion-icon name="shield-checkmark"></ion-icon>
    </div>

    <h2>ยืนยันตัวตน</h2>
    <p>รหัส OTP 6 หลักถูกส่งไปที่<br><strong>{{ email }}</strong></p>

    <div class="otp-input-wrapper">
      <ion-input type="text"
             [(ngModel)]="otp"
             maxlength="6"
             class="custom-otp-input"
             id="otp-input"
             placeholder="______"
             inputmode="numeric"
             autocomplete="one-time-code"
             [disabled]="isBlocked">
      </ion-input>
    </div>

    <ion-button 
      expand="block" 
      shape="round" 
      class="btn-verify" 
      (click)="verify()"
      [disabled]="isLoading || isBlocked"> 
      
      <span *ngIf="!isLoading">ยืนยัน</span>
      <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner> 
    </ion-button>

    <div class="resend-wrapper">
      <p *ngIf="isBlocked" class="wait-text" style="color: #ff4961; margin-bottom: 10px;">
         กรอกผิดเกิน 3 ครั้ง กรุณาขอรหัสใหม่
      </p>
      <p *ngIf="timeLeft > 0" class="wait-text">
        ส่งรหัสใหม่ได้ใน <span class="timer">{{ timeLeft }}s</span>
      </p>
      
      <div *ngIf="timeLeft === 0 && !isLoading" class="action-links">
         <span class="link" (click)="resendOTP()">ส่งรหัส OTP ใหม่</span>
      </div>
    </div>

    <div class="cancel-btn" (click)="closeModal()">
      ยกเลิก
    </div>

  </div>
</ion-content>