<div class="success-overlay" *ngIf="isVisible" (click)="onOverlayClick($event)">
  <div class="success-card" [@popIn]>

    <div class="icon-circle">
      <ion-icon [name]="icon"></ion-icon>
    </div>

    <h2 class="success-title">{{ title }}</h2>

    <p class="success-status" *ngIf="subTitle">{{ subTitle }}</p>

    <p class="success-detail" [innerHTML]="message"></p>

    <div class="button-group" *ngIf="showCancelButton; else singleButton">
      <button class="btn-cancel" (click)="cancel()">
        <span>{{ cancelButtonText }}</span>
      </button>
      <button class="btn-confirm" (click)="confirm()">
        <span>{{ buttonText }}</span>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </div>

    <ng-template #singleButton>
      <button class="btn-confirm" (click)="confirm()">
        <span>{{ buttonText }}</span>
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ng-template>

  </div>
</div>