<ion-header class="ion-no-border" style="position: relative; z-index: 5000 !important;">
  <ion-toolbar class="custom-toolbar">
    
    <div class="main-header-container">
      
      <div class="logo-section">
        <img src="assets/logo1.jpg" class="header-logo" alt="Logo" onerror="this.src='https://placehold.co/40x40'">
        <span class="header-title">HuntPuk</span>
      </div>

      <div class="search-section">
        <div class="search-box">
          <input 
            type="text" 
            placeholder="ค้นหาหอพัก..." 
            [(ngModel)]="searchText" 
            (keyup.enter)="onSearchInput()"
          >
        </div>
        <button class="btn-search-action" (click)="onSearchInput()">
          <span>ค้นหา</span> <ion-icon name="search"></ion-icon>
        </button>
      </div>

      <div class="auth-buttons">
        <ng-container *ngIf="!userData">
          <button class="btn-register" (click)="goToRegister()">สมัคร</button>
          <button class="btn-login" (click)="goToLogin()">เข้าสู่ระบบ</button>
        </ng-container>

        <ng-container *ngIf="userData">
          <div class="user-badge" (click)="goToMyAccount()">
            <ion-icon name="person-circle"></ion-icon>
            <span>{{ userData.username || userData.USERNAME }}</span>
          </div>
          <div class="logout-btn" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </div>
        </ng-container>
      </div>
      
    </div>

  </ion-toolbar>
</ion-header>