<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    
    <div class="toolbar-content">
      <div class="logo-section">
        <img src="assets/logo.png" class="header-logo" alt="Logo">
      </div>

      <div class="search-section">
        <div class="search-box">
          <input 
            type="text" 
            placeholder="ค้นหาหอพัก..." 
            [(ngModel)]="searchText" 
            (keyup.enter)="onSearchInput()"
          >
        </div>
        <button class="btn-search-action" (click)="onSearchInput()">
          ค้นหา <ion-icon name="search"></ion-icon>
        </button>
      </div>

      <div class="auth-buttons">
        
        <ng-container *ngIf="!userData">
          <ion-button class="btn-register" (click)="goToRegister()">สมัคร</ion-button>
          <ion-button class="btn-login" (click)="goToLogin()">เข้าสู่ระบบ</ion-button>
        </ng-container>

       <ng-container *ngIf="userData">
          <div class="user-badge" (click)="goToMyAccount()" style="cursor: pointer;">
            <ion-icon name="person-circle-outline"></ion-icon>
            <span>{{ userData.username }}</span>
          </div>

          <div class="logout-btn" (click)="logout()">
            <span>Logout</span>
            <ion-icon name="log-out-outline"></ion-icon>
          </div>
        </ng-container>

      </div>
    </div>

  </ion-toolbar>
</ion-header>