<ion-content [fullscreen]="true">
  
  <div class="forgot-container">
    
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <span>{{ step === 1 ? 'กลับ' : 'ยกเลิก' }}</span>
    </div>

    <div class="header-text">
      <h1 *ngIf="step === 1">ลืมรหัสผ่าน?</h1>
      <h1 *ngIf="step === 2">ตั้งรหัสผ่านใหม่</h1>
      
      <p *ngIf="step === 1">กรอกอีเมลเพื่อรับรหัสยืนยันตัวตน</p>
      <p *ngIf="step === 2">กำหนดรหัสผ่านใหม่สำหรับ<br><strong>{{ email }}</strong></p>
    </div>

    <div class="form-section" *ngIf="step === 1">
      <div class="custom-input">
        <input type="email" placeholder="อีเมลของคุณ" [(ngModel)]="email">
        <ion-icon name="mail" color="medium"></ion-icon>
      </div>

      <ion-button expand="block" shape="round" class="btn-action" (click)="requestOTP()">
        ส่งรหัส OTP <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>

    <div class="form-section" *ngIf="step === 2">
      
      <div class="custom-input">
        <input 
          [type]="showNewPassword ? 'text' : 'password'" 
          placeholder="รหัสผ่านใหม่" 
          [(ngModel)]="newPassword"
          maxlength="8">
        
        <ion-icon 
          [name]="showNewPassword ? 'eye' : 'eye-off'" 
          (click)="toggleNewPassword()" 
          style="cursor: pointer; pointer-events: auto; z-index: 10;" 
          color="medium">
        </ion-icon>
      </div>

      <div class="warning-text" style="font-size: 12px; color: #eee; margin-bottom: 15px; padding-left: 10px; opacity: 0.8;">
         <p style="margin: 2px 0;">* เป็นตัวอักษร a-z ผสมตัวเลข 0-9 เท่านั้น</p>
         <p style="margin: 2px 0;">* ความยาวอย่างน้อย 8 ตัวอักษรและสูงสุด 8 ตัวอักษร</p>
      </div>

      <div class="custom-input">
        <input 
          [type]="showConfirmPassword ? 'text' : 'password'" 
          placeholder="ยืนยันรหัสผ่านใหม่" 
          [(ngModel)]="confirmPassword"
          maxlength="8">
        
        <ion-icon 
          [name]="showConfirmPassword ? 'eye' : 'eye-off'" 
          (click)="toggleConfirmPassword()" 
          style="cursor: pointer; pointer-events: auto; z-index: 10;" 
          color="medium">
        </ion-icon>
      </div>

      <ion-button expand="block" shape="round" class="btn-action" (click)="confirmReset()">
        ยืนยันการเปลี่ยนรหัส
      </ion-button>

    </div>

  </div>

</ion-content>