<ion-content [fullscreen]="true">
  
  <div class="main-container">

    <div class="step-container" *ngIf="step === 1">
      
      <div class="back-button" (click)="goBack()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <span>กลับ</span>
      </div>

      <h1 class="title">ยืนยันตัวตนเพื่อ<br>รีเซ็ตรหัสผ่าน</h1>

      <div class="glass-card">
        
        <div class="custom-input">
          <input type="email" placeholder="อีเมล" [(ngModel)]="email" [readOnly]="!!email">
          <ion-icon name="person" color="medium"></ion-icon>
        </div>

        <div class="otp-row">
          <div class="custom-input otp-input">
            <input type="text" placeholder="รหัส OTP" [(ngModel)]="otpInput">
          </div>
          <button class="btn-send-otp" (click)="requestOTP()">ส่งคำขอ</button>
        </div>

        <ion-button expand="block" shape="round" class="btn-confirm" (click)="verifyOTP()">
          ยืนยัน
        </ion-button>

      </div>

    </div>


    <div class="step-container" *ngIf="step === 2">
      
      <h1 class="title text-dark">รีเซ็ตรหัสผ่าน</h1>

      <div class="glass-card">
        
        <div class="custom-input">
          <input type="password" placeholder="รหัสผ่าน" [(ngModel)]="newPassword">
        </div>

        <div class="warning-text">
          <p>* เป็นตัวอักษร a-z ผสมตัวเลข 0-9 เท่านั้น</p>
          <p>* อย่างน้อย 8 ตัวอักษรและสูงสุด 8 ตัวอักษร</p>
        </div>

        <div class="custom-input">
          <input type="password" placeholder="รหัสผ่านอีกครั้ง" [(ngModel)]="confirmPassword">
        </div>

      </div>

      <ion-button expand="block" shape="round" class="btn-confirm mt-large" (click)="confirmReset()">
        ยืนยัน
      </ion-button>

      <div class="footer-link" (click)="goBack()">
        กลับไปที่หน้าเข้าสู่ระบบ
      </div>

    </div>

  </div>

</ion-content>