<ion-content [fullscreen]="true">
  
  <div class="main-container">
    
    <div class="back-button" (click)="goHome()">
      <ion-icon name="arrow-back"></ion-icon>
      <span>กลับ</span>
    </div>
    
    <div class="logo-section">
      <div class="logo-circle" (click)="goHome()" style="cursor: pointer;">
        <img src="assets/logo.png" alt="MSU Dormitory">
      </div>
    </div>

    <div class="form-section">
      
      <div class="custom-input">
        <input type="email" placeholder="อีเมล" [(ngModel)]="email" (keyup.enter)="login()">
        <ion-icon name="person" color="medium"></ion-icon>
      </div>

      <div class="custom-input">
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          placeholder="รหัสผ่าน" 
          [(ngModel)]="password"
          (keyup.enter)="login()"
        >
        
        <ion-icon 
          [name]="showPassword ? 'eye' : 'eye-off'" 
          (click)="togglePasswordVisibility()" 
          color="medium"
          style="cursor: pointer; z-index: 10;">
        </ion-icon>
      </div>

      <div class="forgot-pass text-end">
        <a class="link-forgot-password" routerLink="/forgot-password">ลืมรหัสผ่าน</a>     
      </div>

      <ion-button expand="block" shape="round" color="dark" class="btn-login" (click)="login()">
        เข้าสู่ระบบ
      </ion-button>

      <div class="register-text">
        <span>ยังไม่มีบัญชี? </span>
        <a class="link-register" routerLink="/register">สมัครสมาชิก</a>
        
        <span class="divider"> | </span>
        <a class="link-register" routerLink="/recover-account">กู้คืนบัญชี</a>
      </div>

    </div>
  </div>

</ion-content>