<ion-content [fullscreen]="true">
  
  <div class="main-container">
    
    <div class="logo-section">
      <div class="logo-circle">
        <img src="assets/logo.png" alt="MSU Dormitory">
      </div>
    </div>

    <div class="form-section">
      
      <div class="custom-input">
        <input type="email" placeholder="อีเมล" [(ngModel)]="email">
        <ion-icon name="person" color="medium"></ion-icon>
      </div>

      <div class="custom-input">
        <input type="password" placeholder="รหัสผ่าน" [(ngModel)]="password">
        <ion-icon name="key" color="medium"></ion-icon>
      </div>

      <div class="forgot-pass text-end">
        <a href="/home">ลืมรหัสผ่าน</a>
      </div>

      <ion-button expand="block" shape="round" color="dark" class="btn-login" (click)="login()">
        เข้าสู่ระบบ
      </ion-button>

      <div class="register-text">
        <span>ยังไม่มีบัญชี? </span>
        <a class="link-register" routerLink="/register">สมัครสมาชิก</a>
      </div>

    </div>

  </div>

</ion-content>