<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="edit-header-bg"></div>

  <div class="form-card">
    
    <div class="form-group">
      <label>ชื่อผู้ใช้งาน</label>
      <div class="input-container">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" [(ngModel)]="editData.username" placeholder="ระบุชื่อของคุณ">
      </div>
    </div>

    <div class="form-group">
      <label>อีเมล</label>
      <div class="input-container">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" [(ngModel)]="editData.email" placeholder="name@example.com">
      </div>
    </div>

    <div class="action-area">
      
      <ion-button expand="block" shape="round" color="dark" (click)="saveProfile()">
        บันทึกการเปลี่ยนแปลง
      </ion-button>

      <ion-button expand="block" shape="round" fill="outline" color="medium" (click)="goBack()" class="btn-cancel">
        ยกเลิก
      </ion-button>

    </div>

  </div>

</ion-content>