<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="edit-header-bg"></div>

  <div class="form-card">

    <div class="form-group">
      <label>ชื่อผู้ใช้งาน</label>
      <div class="input-container">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" [(ngModel)]="editData.username" placeholder="ระบุชื่อของคุณ">
      </div>
    </div>

    <div class="form-group">
      <label>เบอร์โทรศัพท์</label>
      <div class="input-container">
        <ion-icon name="call-outline"></ion-icon>

        <input type="tel" maxlength="10" [(ngModel)]="editData.phone_number" name="phone_number"
          placeholder="0xxxxxxxxx">

      </div>
    </div>

    <div class="form-group" style="opacity: 0.6;">
      <label>อีเมล (แก้ไขไม่ได้)</label>
      <div class="input-container" style="background: #eee;">
        <ion-icon name="mail-outline"></ion-icon>
        <span style="padding: 12px 0; color: #555;">{{ fullUserData.email || '-' }}</span>
      </div>
    </div>

  <div class="action-area">

      <ion-button expand="block" shape="round" color="dark" (click)="confirmSave()">
        บันทึกการเปลี่ยนแปลง
      </ion-button>

    </div>
  </div>

</ion-content>