<ion-content [fullscreen]="true">
  
  <div class="main-bg">
    
    <div class="top-bar">
      <div class="menu-btn" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="search-bar-mock">
        <input type="text" placeholder="ค้นหาหอพัก..." [(ngModel)]="keyword" (keyup.enter)="onSearch()" style="border:none; background:transparent; width:100%; outline:none;">
        <ion-icon name="search" (click)="onSearch()"></ion-icon>
      </div>
    </div>

    <div class="yellow-container">
      
      <div class="dorm-grid" *ngIf="dorms.length > 0; else noData">
        
        <div class="dorm-card" *ngFor="let dorm of dorms" (click)="goToDetail(dorm)">
          
          <div class="bookmark-ribbon" (click)="toggleFavorite($event, dorm)">
             <ion-icon [name]="dorm.isChecked ? 'bookmark' : 'bookmark-outline'"></ion-icon>
             <span>สนใจ</span>
          </div>

          <div class="card-content">
            <div class="img-box">
              <ion-icon name="home" class="placeholder-icon" *ngIf="!dorm.image"></ion-icon>
              <img [src]="dorm.image" *ngIf="dorm.image" />
            </div>

            <div class="info-box">
              <h3>{{ dorm.DORM_NAME }}</h3> 
              
              <p class="desc">{{ dorm.ADDRESS }}</p>
              
              <p class="location" *ngIf="dorm.zone">
                <ion-icon name="location-sharp"></ion-icon> 
                {{ dorm.zone }}
              </p>

              <p class="price">เริ่มต้น {{ dorm.start_price | number }} บาท/เดือน</p>
              
              </div>
          </div>

          <div class="action-row">
             <span>กดเพื่อดูรายละเอียด >>></span>
          </div>

        </div>

      </div>

      <ng-template #noData>
        <div style="text-align: center; margin-top: 50px; color: #333;">
          <p>ไม่พบรายการหอพัก</p>
        </div>
      </ng-template>

    </div>

  </div>

</ion-content>